<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>

<title>トレーニング詳細</title>
<link rel="stylesheet" th:href="@{/css/workout/workout.css}">
</head>
<body>
 <div layout:fragment="content">
  <div class="header border-bottom">
   <h1 class="h2">トレーニング詳細</h1>
  </div>
  <form method="post" th:action="@{/workoutDetail}"
   class="form-signup" th:object="${WDForm}">
   <input type="hidden" th:field="*{training}">
  <!-- トレーニング詳細 -->
   <table class="table table-striped table-bordered table-hover">
    <tbody>
     <tr>
      <th class="w-25"> トレーニング種目</th>
      <td th:text="*{training}"></td>
     </tr>
     <tr>
      <th class="w-25">部位</th>
      <td><input type="text" class="form-control" th:field="*{bodyParts}">
      </td>
     </tr>
     <tr>
      <th>器具</th>
      <td>
       <span th:if="*{tMethod != null}"
             th:text="*{tMethod.trainingMethod}"></span>
      </td>
     </tr>
    </tbody>
   </table>
   <div class="text-center">
    <!-- 削除ボタン -->
    <button class="btn btn-danger" type="submit" name= "delete">削除</button>
    <!-- 更新ボタン -->
    <button class="btn btn-primary" type="submit" name= "update">更新</button>
   </div>
   <!-- 記録情報 -->
    <th:block th:if="*{memoryList != null and memoryList.size()>0}">
     <div class="header border-bottom">
      <h1 class="h2">記録</h1>
     </div>
     <table class="table table-striped table-bordered table-hover">
      <thead>
       <tr>
        <th class="w-25">重量</th>
        <th>回数</th>
       </tr>
      </thead>
      <tbody>
       <tr th:each="item:*{memoryList}">
        <td th:text="${item.weight}"></td>
        <td th:text="${item.memory}"></td>
       </tr>
      </tbody>
     </table>
    </th:block>
  </form>
 </div>
</body>
</html>



