<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>

<title>ユーザー詳細</title>
<link rel="stylesheet" th:href="@{/css/workout/workout.css}">
</head>
<body>
 <div layout:fragment="content">
  <div class="header border-bottom">
   <h1 class="h2">トレーニング詳細</h1>
  </div>
  <form method="post" th:action="@{/workoutDetail}"
   class="form-signup" th:object="${workoutDetailForm}">
   <input type="hidden" th:field="*{training}">
  <!-- トレーニング詳細 -->
   <table class="table table-striped table-bordered table-hover">
    <tbody>
     <tr>
      <th class="w-25"> トレーニング種目</th>
      <td th:text="*{training}"></td>
     </tr>
     <tr>
      <th>部位</th>
      <td>
       <input type="text" class="form-control" th:field="*{bodyParts}">
      </td>
     </tr>
    </tbody>
   </table>
   <div class="text-center">
    <!-- 削除ボタン -->
    <button class="btn btn-danger" type="submit" name= "delete">削除</button>
    <!-- 更新ボタン -->
    <button class="btn btn-primary" type="submit" name= "update">更新</button>
   </div>
  </form>
 </div>
</body>
</html>