<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
         
<!-- Mapperとxmlのマッピンング -->
<mapper namespace="com.example.repository.WorkoutMapper">

<!-- マッピング定義 -->
<resultMap type="com.example.domain.model.WEntity" id="training">
 <id column="training" property="training"/>
 <result column="body_parts" property="bodyParts"/>
 <association property="tMethod" resultMap="tMethod"></association>
 <collection property="memoryList" resultMap="memory" columnPrefix="memory_"></collection>
</resultMap>

<!-- マッピング定義 （方法)-->
<resultMap type="com.example.domain.model.TMethod" id="tMethod">
 <id column="training" property="training"/>
 <result column="training_method" property="trainingMethod"/>
</resultMap>

<!-- マッピング定義 （記録)-->
<resultMap type="com.example.domain.model.Memory" id="memory">
 <id column="training" property="training"/>
 <id column="weight" property="weight"/>
 <result column="memory" property="memory"/>
</resultMap>



 <!-- ユーザー一件登録 -->
 <insert id="insertOne">
   insert into w_entity(
    training
   ,body_parts
   )
   
   values(
    #{training}
   ,#{bodyParts}
   )
   
 </insert>
 
 
 <!--複数件取得 -->
 <select id="findMany" resultType="WEntity">
   select
     *
   from
     w_entity
  <where>
   <if test="training != null">
     training like '%' || #{training} || '%'
   </if>
   <if test="bodyParts != null">
     and body_parts like '%' || #{bodyParts} || '%'
   </if>
  </where>
 </select>
 
 <!-- 一件取得 -->
 <select id="findOne" resultMap="training">
   select
     w_entity.training
    ,w_entity.body_parts
    ,t_method.training
    ,t_method.training_method
    ,memory.training as memory_training
    ,memory.weight as memory_weight
    ,memory.memory as memory_memory
   from
    w_entity
    
    left join t_method
      on w_entity.training = t_method.training
    
    left join memory
      on w_entity.training = memory.training
      
   where
    w_entity.training=#{training}
 </select>
 
 <!-- ユーザー一件更新 -->
 <update id="updateOne">
    update
      w_entity
    set
      training = #{training}
     ,body_parts = #{bodyParts}
    where
      training = #{training}
 </update>
 
 <!-- ユーザー一件削除 -->
 <delete id="deleteOne">
     delete from
       w_entity
     where
       training = #{training}
 </delete>
 
 
</mapper>





