<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
         
<!-- Mapperとxmlのマッピンング -->
<mapper namespace="com.example.repository.WorkoutMapper">

<!-- マッピング定義 -->
<resultMap type="com.example.domain.model.WEntity" id="training">
 <id column="training" property="training"/>
 <result column="body_parts" property="bodyParts"/>
 <association property="" resultMap="department"></association>
</resultMap>

<!-- マッピング定義 （所属)-->
<resultMap type="com.example.domain.model.Department" id="department">
 <id column="department_id" property="departmentId"/>
 <result column="department_name" property="departmentName"/>
</resultMap>


 <!-- ユーザー一件登録 -->
 <insert id="insertOne">
   insert into w_entity(
    training
   ,body_parts
   )
   
   values(
    #{training}
   ,#{bodyParts}
   )
   
 </insert>
 
 
 <!--複数件取得 -->
 <select id="findMany" resultType="WEntity">
   select
     *
   from
     w_entity
  <where>
   <if test="training != null">
     training like '%' || #{training} || '%'
   </if>
   <if test="bodyParts != null">
     and body_parts like '%' || #{bodyParts} || '%'
   </if>
  </where>
 </select>
 
 <!-- 一件取得 -->
 <select id="findOne" resultMap="training">
   select
     *
   from
    w_entity
    left join w_department
      on  = w_
   where
    training=#{training}
 </select>
 
 <!-- ユーザー一件更新 -->
 <update id="updateOne">
    update
      w_entity
    set
      training = #{training}
     ,body_parts = #{bodyParts}
    where
      training = #{training}
 </update>
 
 <!-- ユーザー一件削除 -->
 <delete id="deleteOne">
     delete from
       w_entity
     where
       training = #{training}
 </delete>
 
 
</mapper>





