<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
         
<!-- Mapperとxmlのマッピンング -->
<mapper namespace="com.example.repository.UserMapper">

 <!-- ユーザー一件登録 -->
 <insert id="insertOne">
   insert into w_user(
    training
   )
   
   values(
    #{training}
   )
   
 </insert>
 
 
 <!-- ユーザー複数件取得 -->
 <select id="findMany" resultType="WUser">
   select
     *
   from
     w_user
 
 </select>
</mapper>





